@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap");
.block4 .content5block, .block4 .content4block, .block3, .block2 {
  background-color: white;
  box-shadow: 0 0 40px -30px;
  font-family: "Lato", sans-serif;
  margin-top: 80px;
}

.block4 .content4block button {
  background-color: white;
  border: 1px solid #B3B3B3;
  padding: 10px 20px 10px 20px;
  max-width: 200px;
  color: rgba(0, 0, 0, 0.747);
}

body {
  background-color: #EAEAEA;
}

header {
  text-align: center;
}

nav {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  align-items: center;
  box-shadow: 0 0 40px -30px;
}
nav .logo {
  width: 50%;
  padding: 43px 44px 43px 94px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
nav ul a {
  color: black;
  text-decoration: none;
}
nav ul .menu {
  padding-left: 50px;
}
nav .search {
  position: relative;
}
nav .search .icon {
  position: absolute;
  top: 8px;
  left: 25px;
}
nav .search .icon img {
  width: 14px;
}
nav .search .input {
  background-color: white;
  border: 1px solid #B3B3B3;
  padding-top: 7px;
  padding-left: 50px;
  padding-bottom: 8px;
  max-width: 200px;
}

.block1 {
  background-image: url(img1.png);
  background-size: cover;
  margin-top: 80px;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  box-shadow: 0 0 40px -30px;
  font-family: "Lato", sans-serif;
  min-height: 700px;
}
.block1 img {
  padding-left: 70px;
  padding-top: 30px;
}
.block1 h1 {
  padding-left: 100px;
  color: #942626;
  font-size: 30px;
  padding-bottom: 20px;
}
.block1 p {
  padding-left: 100px;
  width: 470px;
  font-size: 20px;
  word-spacing: 5px;
  line-height: 140%;
}
.block1 .buton1block {
  padding-left: 100px;
  padding-top: 1%;
}
.block1 button {
  background-color: white;
  border: 1px solid #B3B3B3;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-size: 20px;
  max-width: 200px;
  color: rgba(0, 0, 0, 0.747);
}

.block2 {
  display: grid;
  width: 80%;
  margin-left: 10%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.block2 section {
  padding-top: 50px;
}
.block2 section .food {
  width: 80%;
  max-height: 300px;
  padding-left: 50px;
}
.block2 section p {
  padding-left: 50px;
  font-size: 16px;
  width: 300px;
}
.block2 section .icons {
  padding-left: 50px;
  font-size: 18px;
  padding-bottom: 40px;
}
.block2 section .ico {
  padding: 0px 4px 0 4px;
  max-width: 17px;
}

.block3 {
  width: 80%;
  margin-left: 10%;
  display: flex;
}
.block3 #img img {
  width: 700px;
}
.block3 #content {
  padding-left: 40px;
  max-width: 680px;
}
.block3 #content h1 {
  font-size: 45px;
  color: #154139;
  font-family: "Playfair Display", serif;
  margin-top: 30px;
  margin-bottom: 20px;
}
.block3 #content span {
  display: flex;
  padding-bottom: 30px;
}
.block3 #content span img {
  width: 20px;
  height: 20px;
  padding-left: 4px;
  margin-top: 10px;
}
.block3 #content span p {
  font-size: 20px;
  margin-top: 10px;
  color: #4d4d4d;
  padding-left: 5px;
  padding-right: 5px;
}
.block3 #content span .button3block {
  padding-left: 260px;
}
.block3 #content span .button3block #button2block {
  background-color: white;
  border: 1px solid #B3B3B3;
  padding: 10px 20px 10px 20px;
  max-width: 200px;
  color: rgba(0, 0, 0, 0.747);
}
.block3 #content #recipe {
  width: 640px;
  height: 400px;
  overflow: scroll;
  word-spacing: 5px;
  line-height: 140%;
}
.block3 #content #recipe h2 {
  font-family: "Playfair Display", serif;
}

.block4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  width: 80%;
  margin-left: 10%;
}
.block4 .content4block p {
  padding: 4px 0 4px 50px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.block4 .content4block hr {
  width: 90%;
}
.block4 .content4block img {
  padding-left: 10%;
  width: 80%;
}
.block4 .content4block button {
  margin-left: 40%;
  width: 160px;
  margin-top: 20px;
}
.block4 .content5block #caption {
  padding: 4px 0 4px 50px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.block4 .content5block hr {
  width: 90%;
}
.block4 .content5block #text5block {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.block4 .content5block #text5block #photo {
  padding-left: 40px;
}
.block4 .content5block #text5block #photo img {
  width: 80%;
}
.block4 .content5block #text5block .aboutkaren h2 {
  padding-left: 20px;
}
.block4 .content5block #text5block .aboutkaren p {
  width: 80%;
  word-spacing: 5px;
  line-height: 140%;
  padding-left: 20px;
}
.block4 .content5block #text5block .aboutkaren #socialconnect {
  padding-left: 20px;
}
.block4 .content5block #text5block .aboutkaren #socialconnect img {
  width: 5%;
  padding-left: 10px;
}
.block4 .content5block #text5block .aboutkaren h3 {
  padding-left: 20px;
}
.block4 .content5block #text5block .aboutkaren img {
  padding-left: 40%;
}