@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
$otst1block: 100px;
%stilblock{
    background-color: rgb(255, 255, 255);
    box-shadow:  0 0 40px -30px;
    font-family: 'Lato', sans-serif;
    margin-top: 80px;
}
%stylebutton{
        background-color: rgb(255, 255, 255);
        border: 1px solid #B3B3B3;
        padding: 10px 20px 10px 20px;
        max-width: 200px;
        color: rgba(0, 0, 0, 0.747);
}
body{
    background-color: #EAEAEA;
    .conteiner{
        max-width:1500px;
    }
}

    header{
        text-align: center;

    }
    nav{
        background-color: rgb(255, 255, 255);
        width: 80%;
        margin-left: 10%;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        font-size: 0.9em;
        font-family: 'Montserrat', sans-serif;
        justify-content: center;
        align-items: center;
        justify-content: center;
        box-shadow:  0 0 40px -30px;
        
            .logo{
                width:100%;
            
           }
        

        ul{
           display: flex;
           
            list-style: none;
            align-items: center;
            justify-content: center;
            a{
                    color: black;
                    text-decoration: none;

                    }
            
            .menu{
                padding-left: 4%;  
                
                }
            }
            .search{
                position: relative;
                margin-right: 4%;
                .icon{
                    position: absolute;
                    top: 8px;
                    left:25px;
                    img{
                        width:14px;
                    }
                  }
            }
            .search .input {
                background-color: rgb(255, 255, 255);
                border: 1px solid #B3B3B3;
                padding-top: 7px;
                padding-left: 50px;
                padding-bottom: 8px;
                max-width: 170px;
            }
            
        }
.block1{
    background-image: url(img1.png);
    background-size: cover;
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 10%;
    box-shadow:  0 0 40px -30px;
    font-family: 'Lato', sans-serif;
    
    
    img{
        padding-left: 7%;
        padding-top: 5%;

    }
    h1{
        padding-left: $otst1block;
        color: rgb(148, 38, 38);
        font-size: 2em;
        padding-bottom: 20px;
    }
    p{
        padding-left: $otst1block;
        width: 55%;
        font-size: 1em;
        word-spacing: 5px;
        line-height: 140%; 
    }
    .buton1block{
        padding-left: $otst1block;
        padding-top: 1%;
        padding-bottom: 2%;

    }
    button{
        background-color: rgb(255, 255, 255);
        border: 1px solid #B3B3B3;
        padding: 10px 20px 10px 20px;
        text-align: center;
        font-size: 1,5em;
        max-width: 200px;
        color: rgba(0, 0, 0, 0.747);
    }
    @media (max-width:1200px){
        background-image: none;
        background-color: rgb(255, 255, 255);
        padding: 0 0 0 0;
        
        img{
            width:50%;
            display: block;
            margin: 0 auto;
            padding: 0 0;
        }
        h1{
            text-align: center;
            padding: 0 0 0 0;
            
        }
        p{
            padding: 0 0 5% 0;
            text-align: center;
            display:block;
            margin: 0 auto;
            font-size: 1.2em;
        }
        .buton1block{
            padding: 0 0 5% 0;
        }
        button{
            display:block;
            margin: 0 auto;
        }
    }
}
.block2{
    @extend %stilblock;
    display: grid;
    width: 80%;
    margin-left: 10%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
    

    section{
        padding-top: 6%;
        
        #imgfood{
            text-align: center;
        }
       
        .food{
            width: 80%;
            max-height: 300px;
            
        }
        p{
            text-align: center;
            font-size: 16px;
            
        }
        .icons{
           display:grid;
           grid-auto-flow: column;
            padding-left: 5%;
            font-size: 0.9em;
            padding-bottom: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

           
        }
        .ico{
            padding: 0px 4px 0 4px;
            max-width: 17px;
            width:90%;

        }
    }
    @media (max-width:1200px){
        
        section{
            grid-column: 1/4;
            .icons{
                .ico{
                    float: right;
                } 
        }
        }
        
    }
}
.block3{
    @extend %stilblock;
    width: 80%;
    margin-left: 10%;
    display: flex;
    #img{
       width: 45%;
       position: relative;
        img{
            width:100%;
        }
    }
    #content{
        padding-left: 40px;
        
        width:55%;
        h1{
            font-size: 2em;
            color: rgb(21, 65, 57);
            font-family: 'Playfair Display', serif;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        span{
            display: flex;
            padding-bottom: 30px;
            width: 100%;
            img{
                width:20px;
                height: 20px;
                padding-left: 4px;
                margin-top: 10px;
            }
            p{
                font-size: 20px;
                margin-top: 10px;
                color: rgb(77, 77, 77);
                padding-left: 5px;
                padding-right: 5px;
              
            }
            .button3block{
            float:right;
            
            #button2block{
                background-color: rgb(255, 255, 255);
                border: 1px solid #B3B3B3;
                padding: 10px 20px 10px 20px;
                max-width: 200px;
                color: rgba(0, 0, 0, 0.747);
                
            }}
        }
        #recipe{
           
            height: 400px;
            overflow:scroll;
            word-spacing: 5px;
        line-height: 140%; 
            
            h2{
                font-family: 'Playfair Display', serif;
            }
        }
    }
    @media (max-width:1200px){
        #img{
            width: 0;
        }
        #content{
            width:90%;
            padding-right: 3%;
            h1{
                text-align: center;
            }
            #recipe{
                overflow:hidden;
                margin-bottom: 5%;
                text-align: center;
            }
            span{
                justify-content: center;
            }
        }
    }
}
.block4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:50px;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    .content4block{
        @extend %stilblock;
        p{
            padding:4px 0 4px 50px;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
        }
        hr{
            width: 90%;
            
        }
        img{
            padding-left: 10%;
            width:80%;
        }
        button{
            @extend %stylebutton;
            display:block;
            margin: 0 auto;;
            width:100%;
            margin-top: 2%;
            position: relative;
        }
     }
    .content5block{
        @extend %stilblock;
        #caption{
            padding:4px 0 4px 50px;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
           }
            hr{
                width:90%;
            }
        
        
        #text5block{
            display:grid;
            grid-template-columns: 1fr 3fr;
            #photo{
                padding-left: 40px;
                
                img{
                    width: 80%;
                }
            }
            .aboutkaren{
                
                h2{padding-left: 20px;}
                p{
                    width:80%;
                    word-spacing: 5px;
                    line-height: 140%;
                    padding-left: 20px;
                }
                #socialconnect{
                    padding-left: 20px;
                    img{ width:5%;
                        padding-left: 10px;
                    }
                }
                h3{
                    padding-left: 20px;
                }
                
                    #podpis{
                  width:50%;
                   float:right;
                   
               }
                
                

            }

        }
    }       
}