@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
$otst1block: 100px;
%stilblock{
    background-color: rgb(255, 255, 255);
    box-shadow:  0 0 40px -30px;
    font-family: 'Lato', sans-serif;
    margin-top: 80px;
}
%stylebutton{
        background-color: rgb(255, 255, 255);
        border: 1px solid #B3B3B3;
        padding: 10px 20px 10px 20px;
        max-width: 200px;
        color: rgba(0, 0, 0, 0.747);
}
body{
    background-color: #EAEAEA;
    
}

    header{
        text-align: center;

    }
    nav{
        background-color: rgb(255, 255, 255);
        width: 80%;
        margin-left: 10%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        align-items: center;
        box-shadow:  0 0 40px -30px;
        
            .logo{
                width:50%;
            padding: 43px 44px 43px 94px;
           }
        

        ul{
           display: flex;
           
            list-style: none;
            align-items: center;
            justify-content: center;
            a{
                    color: black;
                    text-decoration: none;

                    }
            
            .menu{
                padding-left: 50px;  
                
                }
            }
            .search{
                position: relative;
                .icon{
                    position: absolute;
                    top: 8px;
                    left:25px;
                    img{
                        width:14px;
                    }
                  }
            }
            .search .input {
                background-color: rgb(255, 255, 255);
                border: 1px solid #B3B3B3;
                padding-top: 7px;
                padding-left: 50px;
                padding-bottom: 8px;
                max-width: 200px;
            }
            
        }
.block1{
    background-image: url(img1.png);
    background-size: cover;
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 10%;
    box-shadow:  0 0 40px -30px;
    font-family: 'Lato', sans-serif;
    min-height: 700px;
    img{
        padding-left: 70px;
        padding-top: 30px;

    }
    h1{
        padding-left: $otst1block;
        color: rgb(148, 38, 38);
        font-size: 30px;
        padding-bottom: 20px;
    }
    p{
        padding-left: $otst1block;
        width: 470px;
        font-size: 20px;
        word-spacing: 5px;
        line-height: 140%; 
    }
    .buton1block{
        padding-left: $otst1block;
        padding-top: 1%;

    }
    button{
        background-color: rgb(255, 255, 255);
        border: 1px solid #B3B3B3;
        padding: 10px 20px 10px 20px;
        text-align: center;
        font-size: 20px;
        max-width: 200px;
        color: rgba(0, 0, 0, 0.747);
    }

}
.block2{
    @extend %stilblock;
    display: grid;
    width: 80%;
    margin-left: 10%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    section{
        padding-top: 50px;
        
       
        .food{
            width: 80%;
            max-height: 300px;
            padding-left: 50px;
        }
        p{
            padding-left: 50px;
            font-size: 16px;
            width:300px;
        }
        .icons{
            padding-left: 50px;
            font-size: 18px;
            padding-bottom: 40px;
           
        }
        .ico{
            padding: 0px 4px 0 4px;
            max-width: 17px;
            

        }
    }
}
.block3{
    @extend %stilblock;
    width: 80%;
    margin-left: 10%;
    display: flex;
    #img{
       
        img{
            width:700px;
        }
    }
    #content{
        padding-left: 40px;
        max-width: 680px;
        h1{
            font-size: 45px;
            color: rgb(21, 65, 57);
            font-family: 'Playfair Display', serif;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        span{
            display: flex;
            padding-bottom: 30px;
            img{
                width:20px;
                height: 20px;
                padding-left: 4px;
                margin-top: 10px;
            }
            p{
                font-size: 20px;
                margin-top: 10px;
                color: rgb(77, 77, 77);
                padding-left: 5px;
                padding-right: 5px;
            }
            .button3block{
            padding-left: 260px;
            
            #button2block{
                background-color: rgb(255, 255, 255);
                border: 1px solid #B3B3B3;
                padding: 10px 20px 10px 20px;
                max-width: 200px;
                color: rgba(0, 0, 0, 0.747);
                
            }}
        }
        #recipe{
            width:640px;
            height: 400px;
            overflow:scroll;
            word-spacing: 5px;
        line-height: 140%; 
            
            h2{
                font-family: 'Playfair Display', serif;
            }
        }
    }
}
.block4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:50px;
    width: 80%;
    margin-left: 10%;
    
    .content4block{
        @extend %stilblock;
        p{
            padding:4px 0 4px 50px;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
        }
        hr{
            width: 90%;
            
        }
        img{
            padding-left: 10%;
            width:80%;
        }
        button{
            @extend %stylebutton;
            margin-left: 40%;
            width:160px;
            margin-top: 20px;
            
        }
     }
    .content5block{
        @extend %stilblock;
        #caption{
            padding:4px 0 4px 50px;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
           }
            hr{
                width:90%;
            }
        
        
        #text5block{
            display:grid;
            grid-template-columns: 1fr 3fr;
            #photo{
                padding-left: 40px;
                
                img{
                    width: 80%;
                }
            }
            .aboutkaren{
                
                h2{padding-left: 20px;}
                p{
                    width:80%;
                    word-spacing: 5px;
                    line-height: 140%;
                    padding-left: 20px;
                }
                #socialconnect{
                    padding-left: 20px;
                    img{ width:5%;
                        padding-left: 10px;
                    }
                }
                h3{
                    padding-left: 20px;
                }
               img{
                   padding-left: 40%;
               } 

            }

        }
    }       
}